{:paths ["src"]
 :deps {
        io.github.kotoba-lang/log-id-counter
        {:git/url "https://github.com/kotoba-lang/log-id-counter.git"
         :git/sha "b42932708470b2b72f69e5168fcee46f9d31de1e"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
